@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  color: black;
  font-weight: 800;
}

.img-content {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; 
}

.img {
  width: 100%; 
  max-width: 200px;
  height: auto; 
}

.control {
  margin: 1em 0; 
}
button:hover {
  background-color: #e6dac9;
  border-radius: 10px;
}
