.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.form-gap {
    margin-top: 70px;
}

.color-blue {
    color: blue;
    /* Example color for the envelope icon */
}