@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.login-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(/public/Login.png);
  background-size: cover;
  background-position: center center;
}

.Images {
  margin-bottom: 60px;
  display: inline-flex;
  margin-left: 60px;
}
.AdminSpace {
  display: block;
  margin-right: 40px;
}
.img2,
.img3 {
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 50%;
  border: 2px solid transparent;
}

.img2:hover,
.img3:hover,
.img2.selected,
.img3.selected {
  transform: scale(1.1);
}

.img2:hover + .admin,
.img2.selected + .admin {
  transform: scale(1.1);
  color: #ff0000;
}
.img3:hover + .employeur,
.img3.selected + .employeur {
  transform: scale(1.1);
  color: #007bff;
}

.admin,
.employeur {
  text-align: center;
  font-weight: bold;
}

.admin {
  color: #ff0000;
  margin-right: 8px;
}

.employeur {
  color: #007bff;
}

.center {
  position: absolute;
  top: 46.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(244, 241, 241);
  width: 380px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 60px black;
}

input {
  border: 1px solid black;
  border-radius: 8px;
  background-color: transparent;
}

.control input {
  width: 100%;
  display: block;
  padding: 10px;
  color: #222;
  outline: none;
  margin: 1em 0;
}

.password-control {
  position: relative;
}

.password-input-container {
  display: flex;
}

.password-input-container input[type="password"] {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  width: calc(100%);
}

.password-input-container button {
  position: absolute;
  top: 62%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  display: flex;
}

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

.img2.selected {
  border-color: #ff0000 !important;
}
.img3.selected {
  border-color: #007bff !important;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
