table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.toggle-button {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.toggle-button.checked {
    background-color: #5cb85c;
    color: white;
}

.toggle-button.checked span {
    text-decoration: line-through;
}




td {
    padding: 10px;
}